.antipatternOutline {
  margin-top: 3em;
  display: flex;
}

.btn {
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  grid-auto-flow: column;
  font-size: 14px;
  line-height: 16px;
  padding: 12px;
  background-color: #ad2853;
  color: #fff;
  border: 1px solid #ad2853;
  margin: 0 3em;
}

.btn.noOutline:focus {
  outline: none;
}

img:not([alt]),
img[alt=""] {
  border: 5px dashed red;
}

#emulateVisionForm {
  margin-top: 20px;
}

#username-demo {
  margin: auto;
  display: block;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 60%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
}
#username-demo.invalid {
  border: 1px solid red;
  background-color: lightcoral;
}
#username-demo.valid {
  border: 1px solid green;
  background-color: lightgreen;
}